@font-face {
  font-family: "Toyota Display";
  src: url("../font/ToyotaDisplay/Toyota-Display.ttf") format("truetype"), url("../font/ToyotaDisplay/ToyotaDisplay-Regular.otf") format("opnetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Toyota Display";
  src: url("../font/ToyotaDisplay/ToyotaDisplay-Bold.ttf") format("truetype"), url("../font/ToyotaDisplay/ToyotaDisplay-Bold.otf") format("opnetype");
  font-style: normal;
  font-weight: 600;
}

body {
  font-family: 'Toyota Display', 'Segoe UI', sans-serif;
  background: #12191f;
  font-size: 16px;
  color: #505050;
}

.blocker {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper-content {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 30px;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active,
span:focus,
span:active,
button:focus,
button:active {
  outline: none;
}

.main-offset {
  padding-left: 125px;
}

.shadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.md-show {
  display: none;
}

.t-bold {
  font-weight: 600;
}

.t-small {
  font-size: 10px;
}

.t-upper {
  text-transform: uppercase;
}

.t-dark {
  color: #12191f;
}

.t-black {
  color: #2e2e2e;
}

.t-white {
  color: #ffffff;
}

.t-center {
  text-align: center;
}

.tel {
  font-size: 22px;
}

.tel span {
  font-size: 28px;
}

.title {
  font-size: 38px;
  line-height: 1.11;
  text-transform: uppercase;
}

.title p {
  font-family: 'Toyota Display', 'Segoe UI', sans-serif !important;
}

.subtitle {
  font-size: 32px;
  line-height: 1.13;
  color: #12191f;
}

button:active,
button:focus {
  outline: none;
}

select:focus,
select:hover,
option:hover,
option:focus {
  outline: none;
}

.bg-top-alpha {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/bg-img.png) no-repeat;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg-img.png) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg-img.png) no-repeat;
  background-size: cover;
}

.bg-top {
  background: url(../images/bg-img.png) no-repeat 50%;
  background-size: cover;
}

.bg-w50 {
  background: rgba(255, 255, 255, 0.5);
}

.bg-w30 {
  background: rgba(255, 255, 255, 0.3);
}

.bg-w80 {
  background: rgba(255, 255, 255, 0.8);
}

.bg-w85 {
  background: rgba(255, 255, 255, 0.85);
}

.bg-w95 {
  background: rgba(255, 255, 255, 0.95);
}

.bg-white {
  background: #ffffff;
}

.bg-r80 {
  background: rgba(207, 0, 0, 0.8);
}

.bg-d90 {
  background: rgba(18, 25, 31, 0.9);
}

.link a {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.btn.black-theme.choose a {
  background: #12191f;
  color: #ffffff;
}

.btn.black-theme.choose a img {
  -webkit-filter: brightness(100);
  filter: brightness(100);
}

.btn.black-theme a {
  border: 2px solid #12191f;
  color: #12191f;
}

.btn.black-theme a img {
  -webkit-filter: brightness(0);
  filter: brightness(0);
}

.btn a {
  padding: 14px 24px;
  border: 2px solid #ffffff;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.btn a img {
  padding-right: 16px;
}

.styles-input {
  width: 100%;
  height: 56px;
  background: #f8f8f8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 0 27px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.16);
  color: #505050;
  font-size: 16px;
  font-weight: 300;
  font-family: "Segoe UI", 'Toyota Display', sans-serif;
}

.styles-input:focus {
  background: #fcf7f1;
  border-bottom: 3px solid #cf0000;
}

.check input[type=checkbox],
.check input[type=radio] {
  display: none;
}

.check label {
  font-size: 12px;
  color: #c2c2c2;
}

.check input[type=checkbox] + label:before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  border: 1px solid #dedede;
  background: #eee;
  font-size: 18px;
  line-height: 18px;
  margin: -5px 5px 0 0;
  height: 18px;
  width: 18px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: color ease .3s;
  -o-transition: color ease .3s;
  transition: color ease .3s;
}

.check input[type=checkbox]:checked + label:before {
  color: #000;
}

.select-filter {
  display: inline-block;
  vertical-align: top;
  max-width: 255px;
  width: 100%;
}

.select-wrap {
  position: relative;
  width: 100%;
}

.select__gap {
  background: #f8f8f8;
  color: #505050;
  border-bottom: 3px solid rgba(0, 0, 0, 0.16);
  font-size: 16px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 34px 0 24px;
  cursor: pointer;
  position: relative;
}

.select__gap.on {
  background: #fcf7f1;
  border-bottom: 3px solid #cf0000;
}

.select__list {
  background: #f8f8f8;
  border-top: none;
  position: absolute;
  color: #000;
  width: 100%;
  margin: 0 0;
  z-index: 143;
}

.select__list.on {
  display: block;
}

.select__item span {
  display: block;
  padding: 10px 27px;
  cursor: pointer;
  color: #505050;
  font-size: 16px;
}

.select__gap:after {
  content: '';
  position: absolute;
  right: 22px;
  bottom: 21px;
  z-index: 2;
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border-width: 10px 6px 0 6px;
  border-color: #505050 transparent transparent transparent;
}

.on.select__gap:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.left-sidebar {
  position: fixed;
  top: calc((100% - 260px) / 2);
  z-index: 645;
}

.left-sidebar ul li {
  width: 86px;
  height: 130px;
}

.left-sidebar ul li:nth-child(n + 2) {
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.left-sidebar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  background: rgba(207, 0, 0, 0.95);
}

.row.non-m-offset {
  margin: 0 !important;
}

.header {
  background: #ffffff;
  max-height: 135px;
}

.header .max-337 {
  max-width: 337px;
  width: 100%;
  -ms-flex-negative: 2;
  flex-shrink: 2;
}

.header .container-fluid {
  min-width: 1246px;
}

.header .main-header .sign-up {
  display: none !important;
}

.header .main-header .logo {
  display: none;
}

.header .logo {
  max-height: 135px;
}

.header .logo img {
  width: 100%;
  height: auto;
}

.header .mobile-menu-toggle {
  z-index: 877;
  margin-top: 23px;
  position: relative;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  text-align: left;
}

.header .mobile-menu-toggle div,
.header .mobile-menu-toggle div:before,
.header .mobile-menu-toggle div:after {
  background: #12191f;
  position: absolute;
  height: 3px;
  width: 40px;
  border-radius: 4px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.header .mobile-menu-toggle div:first-child {
  top: 0;
}

.header .mobile-menu-toggle div:nth-child(2) {
  top: 10px;
}

.header .mobile-menu-toggle div:nth-child(3) {
  top: 20px;
}

.header .mobile-menu-toggle.active div {
  background: #ffffff;
}

.header .mobile-menu-toggle.active div:first-child {
  top: 6%;
  left: 7%;
  width: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: width .15s, top .15s .15s, left .15s .15s, -webkit-transform .15s .15s;
  transition: width .15s, top .15s .15s, left .15s .15s, -webkit-transform .15s .15s;
  -o-transition: width .15s, top .15s .15s, left .15s .15s, transform .15s .15s;
  transition: width .15s, top .15s .15s, left .15s .15s, transform .15s .15s;
  transition: width .15s, top .15s .15s, left .15s .15s, transform .15s .15s, -webkit-transform .15s .15s;
}

.header .mobile-menu-toggle.active div:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .15s .15s;
  transition: -webkit-transform .15s .15s;
  -o-transition: transform .15s .15s;
  transition: transform .15s .15s;
  transition: transform .15s .15s, -webkit-transform .15s .15s;
}

.header .mobile-menu-toggle.active div:nth-child(3) {
  width: 50%;
  right: 7%;
  top: 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: width .15s, top .15s .15s, right .15s .15s, -webkit-transform .15s .15s;
  transition: width .15s, top .15s .15s, right .15s .15s, -webkit-transform .15s .15s;
  -o-transition: width .15s, top .15s .15s, right .15s .15s, transform .15s .15s;
  transition: width .15s, top .15s .15s, right .15s .15s, transform .15s .15s;
  transition: width .15s, top .15s .15s, right .15s .15s, transform .15s .15s, -webkit-transform .15s .15s;
}

.header .block-with-logo {
  background: #eee;
  padding-left: 20px;
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #828282;
  font-size: 14px;
  line-height: 1.29;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}

.header .block-with-logo p {
  max-width: 112px;
}

.header nav {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header nav .navigation li {
  text-transform: uppercase;
}

.header nav .navigation li a {
  color: #828282;
  font-size: 14px;
  text-decoration: none;
}

.header .tel {
  font-size: 22px;
  padding-left: 50px;
}

.header .tel img {
  padding-right: 10px;
}

.header .tel .grey {
  color: #dedede;
  font-size: 28px;
}

.header .tel .red {
  color: #cf0000;
  font-size: 28px;
}

.header .sign-up {
  background: #cf0000;
  color: #ffffff;
  line-height: 1.29;
  font-size: 14px;
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.header .sign-up img {
  padding-right: 10px;
}

.header .dropdown-header {
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba(18, 25, 31, 0.9);
  z-index: 766;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .dropdown-header.show {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  border-radius: 0;
}

.header .dropdown-header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.header .dropdown-header .navigation li {
  width: 100%;
  text-align: center;
}

.header .dropdown-header .navigation li a {
  color: #ffffff;
  width: 100%;
  text-decoration: none;
  font-size: 22px;
}

.header .dropdown-header .navigation li a span {
  color: #ffffff;
}

.header .dropdown-header .sign-up {
  height: 90px;
}

.top-content .offset-top {
  padding-top: 42px;
}

.top-content .offset-bottom {
  padding-bottom: 35px;
}

.top-content .top-block .pos-rel {
  position: relative;
  width: 100%;
  height: 100%;
}

.top-content .top-block .pos-rel .loop-block {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 243;
}

.top-content .top-block .pos-rel .loop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.top-content .top-block .pos-rel .loop .slide {
  max-width: 230px;
  position: absolute;
  top: 58px;
  left: 58px;
  -webkit-transition-property: max-width, left, top;
  -o-transition-property: max-width, left, top;
  transition-property: max-width, left, top;
  -webkit-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 1;
}

.top-content .top-block .pos-rel .loop .slide img {
  width: 100%;
  height: auto;
}

.top-content .top-block .pos-rel .loop .slide.choose {
  -webkit-transition-property: max-width, left, top;
  -o-transition-property: max-width, left, top;
  transition-property: max-width, left, top;
  -webkit-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
  z-index: 3;
  max-width: 430px;
  left: 305px;
  top: 68px;
}

.top-content .top-block .left {
  z-index: 9;
  padding-left: 47px;
}

.top-content .top-block .left p {
  padding-top: 40px;
  max-width: 130px;
}

.top-content .top-block .left img {
  padding-left: 30px;
}

.top-content .top-block .middle {
  z-index: 5;
}

.top-content .top-block .middle img {
  padding-left: 30px;
}

.top-content .top-block .right {
  z-index: 4;
  background: url(../images/bg-mask.svg) no-repeat right rgba(255, 255, 255, 0.85);
}

.top-content .top-block .right p {
  max-width: 177px;
  font-size: 28px;
  line-height: 1.14;
}

.top-content .top-block .right .mistake {
  margin-top: 38px;
  position: relative;
}

.top-content .top-block .right .mistake:before {
  content: '';
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  bottom: 23px;
}

.top-content .bottom-block {
  margin-top: 17px;
}

.top-content .bottom-block .left {
  padding: 35px 0 0 65px;
}

.top-content .bottom-block .left .title {
  max-width: 450px;
}

.top-content .bottom-block .left .link {
  margin-top: 45px;
}

.top-content .bottom-block .right {
  padding: 45px 35px 0;
}

.top-content .bottom-block .right .btn a {
  font-size: 13px;
}

.top-content .bottom-block .right p {
  padding-top: 15px;
  max-width: 128px;
  line-height: 1.29;
}

.top-content .bottom-block .right .logo img {
  width: 100%;
  height: auto;
}

.top-content .bottom-block .right .d-flex {
  margin-top: 38px;
}

.top-content .bottom-block .right .d-flex p {
  padding-right: 2px;
  padding-bottom: 39px;
}

.top-content .price {
  background: rgba(255, 255, 255, 0.92);
  padding: 20px 0;
  color: #12191f;
  font-size: 26px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 16px;
}

.top-content .more-about {
  padding: 30px 0;
  margin-top: 86px;
}

.top-content .more-about a {
  color: #12191f;
}

.top-content .more-about img {
  margin-top: 22px;
}

.main-information .principle-operation {
  background: url(../images/bg-principle.jpg) no-repeat calc((100% - 74px)) 15% #ffffff;
  padding-top: 75px;
}

.main-information .principle-operation p {
  line-height: 1.13;
  font-family: 'Segoe UI', 'Toyota Display', sans-serif;
}

.main-information .principle-operation .top-text {
  margin-top: 50px;
  max-width: 505px;
  margin-bottom: 135px;
}

.main-information .principle-operation .bottom-text {
  padding-top: 65px;
  padding-bottom: 75px;
}

.main-information .block-images.dark .no-gutters {
  position: relative;
}

.main-information .block-images.dark .no-gutters:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(18, 25, 31, 0.63);
}

.main-information .block-images .row .no-gutters {
  padding: 0;
}

.main-information .block-images .row:first-child img {
  max-width: 425px;
  width: 100%;
  height: auto;
}

.main-information .block-images .row:last-child img {
  max-width: 212.5px;
  width: 100%;
  height: auto;
}

.main-information .repairs {
  background: #ffffff;
  margin-top: 112px;
}

.main-information .repairs .title p {
  padding-bottom: 0;
}

.main-information .repairs .bg-repairs {
  background: url(../images/bg-repairs.jpg) no-repeat;
  background-size: cover;
}

.main-information .repairs .bg-repairs-2 {
  background: url(../images/bg-repairs-2.jpg) no-repeat;
  background-size: cover;
}

.main-information .repairs .col-8 {
  padding-top: 83px;
  padding-bottom: 59px;
}

.main-information .repairs .subtitle {
  margin-top: 30px;
  max-width: 636px;
}

.main-information .repairs p {
  margin-top: 56px;
  padding-bottom: 59px;
  max-width: 582px;
  line-height: 1.13;
}

.main-information .repairs .have-question {
  max-width: 335px;
  padding-top: 132px;
  margin: 0 auto;
  color: #ffffff;
}

.main-information .repairs .have-question .top,
.main-information .repairs .have-question .bot {
  padding: 0 10px;
}

.main-information .repairs .have-question .btn {
  max-width: 280px;
  margin: 0 auto;
  padding: 25px 0;
}

.main-information .repairs .have-question p {
  padding-top: 21px;
  padding-bottom: 0;
  margin: 0;
}

.main-information .repairs .have-question p.big {
  padding-top: 40px;
}

.sign-up-section {
  color: #ffffff;
  position: relative;
  margin-top: 112px;
}

.sign-up-section .title {
  max-width: 470px;
  padding-top: 63px;
  padding-bottom: 63px;
}

.sign-up-section .top .img-pos {
  margin-top: 80px;
  margin-bottom: -120px;
}

.sign-up-section .top .img-pos img {
  width: 100%;
  height: auto;
}

.sign-up-section .top p {
  max-width: 140px;
}

.sign-up-section .top .d-flex p {
  padding-right: 10px;
}

.sign-up-section .bottom {
  padding-top: 125px;
  padding-bottom: 75px;
  background: url(../images/bg-mask.svg) no-repeat right center #ffffff;
}

.sign-up-section .bottom .wrap-input p {
  color: #c2c2c2;
  padding-left: 23px;
  padding-bottom: 19px;
  font-size: 12px;
  font-family: 'Segoe UI', 'Toyota Display', sans-serif;
}

.sign-up-section .bottom .row:nth-child(2) {
  margin-top: 60px;
}

.sign-up-section .bottom .check {
  margin-top: 33px;
}

.price-block {
  padding-top: 191px;
  padding-bottom: 100px;
  background: #ffffff;
  margin-top: -120px;
}

.price-block .table {
  margin-top: 75px;
}

.price-block .table .name-price,
.price-block .table .item-price {
  padding: 17px 0;
}

.price-block .table .name-price p:first-child,
.price-block .table .item-price p:first-child {
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
}

.price-block .table .name-price p:nth-child(2),
.price-block .table .item-price p:nth-child(2) {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.price-block .table .name-price p:nth-child(3),
.price-block .table .item-price p:nth-child(3) {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}

.price-block .table .name-price p:nth-child(n + 2),
.price-block .table .item-price p:nth-child(n + 2) {
  text-align: center;
}

.price-block .table .name-price {
  background: #12191f;
  color: #ffffff;
  font-size: 24px;
}

.price-block .table .item-price {
  color: #505050;
  line-height: 1.38;
  font-size: 16px;
}

.price-block .table .item-price p:nth-child(2) {
  font-weight: 600;
}

.price-block .table .item-price:nth-child(odd) {
  background: #eee;
}

.about {
  margin-top: 135px;
}

.about .about-services {
  background: #ffffff;
}

.about .about-services .title {
  padding-top: 91px;
}

.about .about-services p {
  padding-top: 40px;
  padding-bottom: 58px;
  max-width: 582px;
  line-height: 1.13;
}

.about .about-services .bg-about {
  background: url(../images/2018_Toyota_Service_Asset_11_0027_1_v3.jpg) no-repeat;
  background-size: cover;
}

.about .map {
  margin-top: 157px;
}

.about .map iframe {
  width: 100%;
  height: 505px;
}

.footer {
  margin-top: 58px;
}

.footer .contacts {
  font-size: 14px;
  line-height: 1.36;
  max-width: 185px;
}

.footer .copyright {
  padding-top: 21px;
  font-size: 10px;
}

.footer .tel {
  max-width: 100% !important;
}

.footer .btn {
  padding: 0 15px;
}

.footer .btn a {
  font-size: 14px;
  text-transform: none;
  text-decoration: underline;
  border: none;
  background: transparent;
  padding: 0;
}

.footer .d-flex p {
  max-width: 150px;
}

@media only screen and (max-width: 1680px) {
  .header .container-fluid {
    min-width: 996px;
  }

  .header .block-with-logo {
    font-size: 11px;
    padding-right: 5px;
  }
}

@media only screen and (max-width: 1400px) {
  .header .block-with-logo {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .header .max-337 {
    display: none !important;
  }

  .header .container-fluid {
    min-width: inherit !important;
  }

  .header .sign-up {
    display: none !important;
  }

  .header .logo {
    display: none;
  }

  .header .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header .main-header .press-left {
    width: 100%;
  }

  .header .main-header nav {
    padding-right: 30px;
  }

  .header .main-header .sign-up {
    display: none !important;
    max-width: 150px;
    width: 100%;
  }

  .header .main-header .logo {
    display: block;
  }

  .header .main-header .tel {
    padding-left: 10px;
    white-space: nowrap;
    font-size: 13px;
  }

  .header .main-header .tel span {
    font-size: 16px;
  }

  .header .main-header nav {
    width: 100%;
  }

  .header .main-header nav ul li a {
    font-size: 12px;
    padding: 0 3px;
  }
}

@media only screen and (max-width: 1200px) {
  .select__gap {
    font-size: 13px;
  }

  .left-sidebar ul li {
    width: 50px;
    height: 100px;
  }

  .top-content .middle img {
    max-width: 450px;
  }

  .main-information .principle-operation {
    background-position: 100% 15%;
    background-size: 50%;
  }

  .main-information .top-text {
    max-width: 395px !important;
  }

  .sign-up-section .title {
    font-size: 26px;
  }

  .loop .slide.choose {
    max-width: 390px !important;
    width: 100%;
  }

  .footer .tel {
    font-size: 16px;
  }

  .footer .tel span {
    font-size: 20px;
  }

  .footer .t-upper {
    font-size: 14px;
  }

  .footer .logo {
    max-width: 80px;
  }

  .footer .logo img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 992px) {
  .md-show {
    display: block;
  }

  .md-hide {
    display: none;
  }

  .container-fluid {
    padding: 0 !important;
  }

  .main-offset {
    padding-left: 30px;
  }

  .header .wrapper-content {
    padding: 0;
  }

  .header .press-left {
    width: auto !important;
  }

  .header .mobile-menu-toggle {
    display: block !important;
  }

  .header .main-header .sign-up {
    display: none !important;
  }

  .header .main-header nav {
    display: none;
  }

  .header .main-header .press-left {
    margin-right: auto;
  }

  .header .main-header .tel {
    font-size: 22px;
  }

  .header .main-header .tel .grey {
    font-size: 28px;
  }

  .header .main-header .tel .red {
    font-size: 28px;
  }

  .header .dropdown-header ul li {
    text-transform: uppercase;
  }

  .header .dropdown-header .sign-up {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .bg-top .wrapper-content {
    padding: 0;
  }

  .top-content .left {
    min-height: 400px;
  }

  .top-content .left img {
    max-width: 400px;
    height: auto;
  }

  .top-content .loop .slide.choose {
    max-width: 486px !important;
    width: 100%;
  }

  .top-content .bottom-block .left .title {
    max-width: 370px;
  }

  .sign-up-section .bottom {
    padding-top: 70px;
  }

  .sign-up-section .bottom .wrap-input {
    margin-top: 15px !important;
  }

  .footer .container-fluid {
    padding: 15px !important;
  }

  .footer .contacts {
    font-size: 12px;
  }

  .footer .tel {
    white-space: nowrap;
    padding-right: 10px;
  }

  .footer .t-upper {
    font-size: 12px;
    max-width: 100px !important;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 22px;
  }

  .wrapper-content {
    padding: 0 15px;
  }

  .main-offset {
    padding-left: 15px;
  }

  .left-sidebar ul li {
    width: 46px;
    height: 80px;
  }

  .top-content .left {
    min-height: 340px;
  }

  .top-content .loop .slide {
    left: 15px !important;
  }

  .top-content .loop .slide.choose {
    max-width: 342px !important;
    width: 100%;
    left: 240px !important;
    top: 111px !important;
  }

  .top-content .top-block .left {
    padding-left: 0;
  }

  .top-content .top-block .left img {
    padding-left: 0;
    max-width: 300px;
  }

  .top-content .top-block .left p {
    padding-left: 15px;
  }

  .top-content .bottom-block .left {
    padding-bottom: 40px;
    padding-left: 35px;
  }

  .top-content .bottom-block .right p {
    font-size: 14px;
  }

  .main-information .principle-operation {
    background: #ffffff;
  }

  .main-information .principle-operation .top-text {
    max-width: 480px !important;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .main-information .repairs {
    margin-top: 40px;
  }

  .main-information .repairs .have-question {
    padding: 60px 0 !important;
    max-width: 100%;
  }

  .main-information .repairs p {
    max-width: 100%;
  }

  .main-information .repairs .subtitle + p {
    padding-bottom: 40px;
    margin-top: 25px;
  }

  .main-information .repairs .bg-repairs-2 {
    display: none;
  }

  .sign-up-section {
    margin-top: 40px;
  }

  .sign-up-section .top .logo {
    width: 80px;
  }

  .sign-up-section .top .logo img {
    width: 100%;
    height: auto;
  }

  .sign-up-section .top .t-upper {
    font-size: 13px;
  }

  .sign-up-section .bottom {
    padding-top: 30px;
  }

  .sign-up-section .bottom .col {
    margin-top: 15px;
  }

  .price-block {
    padding-bottom: 40px;
  }

  .price-block .table {
    margin-top: 25px;
  }

  .price-block .table .name-price p,
  .price-block .table .item-price p {
    -ms-flex-preferred-size: 25% !important;
    flex-basis: 25% !important;
    font-size: 14px;
  }

  .price-block .table .name-price p:first-child,
  .price-block .table .item-price p:first-child {
    -ms-flex-preferred-size: 50% !important;
    flex-basis: 50% !important;
    font-size: 12px;
  }

  .price-block .table .name-price {
    font-size: 16px;
  }

  .about {
    margin-top: 40px;
  }

  .about .about-services .bg-about {
    display: none;
  }

  .about .map {
    margin-top: 40px;
  }

  .footer .container-fluid > .d-flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer .logo-block {
    margin-left: auto;
  }
}

@media only screen and (max-width: 576px) {
  .subtitle {
    font-size: 20px;
  }

  .header .main-header .logo {
    max-width: 80px;
  }

  .header .main-header .tel {
    font-size: 14px;
  }

  .header .main-header .tel .grey {
    font-size: 18px;
  }

  .header .main-header .tel .red {
    font-size: 18px;
  }

  .top-content .top-block .left {
    font-size: 14px;
    min-height: 440px;
  }

  .top-content .top-block .left img {
    max-width: 150px;
  }

  .top-content .top-block .loop .slide {
    top: 240px !important;
  }

  .top-content .top-block .loop .slide.choose {
    left: calc((100% - 300px) / 2) !important;
    top: 30px !important;
    max-width: 300px !important;
  }

  .top-content .top-block .right p {
    font-size: 23px;
  }

  .top-content .top-block .right img {
    max-width: 205px;
  }

  .top-content .bottom-block .left {
    padding: 35px 15px;
  }

  .top-content .bottom-block .right {
    padding: 35px 15px;
  }

  .top-content .link a {
    font-size: 14px;
  }

  .main-information .block-images .row:first-child img {
    max-width: 100%;
  }

  .main-information .block-images .row:last-child img {
    max-width: 100%;
  }

  .sign-up-section .title {
    padding: 25px 15px;
  }

  .sign-up-section .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .sign-up-section .top .img-pos {
    margin-top: inherit;
    margin-bottom: -70px;
  }

  .sign-up-section .top .align-items-center {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .sign-up-section .bottom .row:nth-child(2) {
    margin-top: 25px;
  }

  .sign-up-section .bottom .row:nth-child(2) .col-12 {
    margin-top: 15px;
  }

  .about .map iframe {
    height: 350px;
  }

  .footer .btn {
    margin-top: 10px;
  }

  .footer .block {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }

  .footer .tel {
    font-size: 14px;
  }

  .footer .tel span {
    font-size: 16px;
  }

  .footer .t-upper {
    font-size: 10px;
  }

  .footer .logo {
    max-width: 48px;
  }

  .footer .btn {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
