@font-face {
  font-family: "Toyota Display";
  src: url("../font/ToyotaDisplay/Toyota-Display.ttf" ) format("truetype"),
       url("../font/ToyotaDisplay/ToyotaDisplay-Regular.otf") format("opnetype");
  font-style: normal;
  font-weight: normal;

}
@font-face {
  font-family: "Toyota Display";
  src: url("../font/ToyotaDisplay/ToyotaDisplay-Bold.ttf" ) format("truetype"),
  url("../font/ToyotaDisplay/ToyotaDisplay-Bold.otf") format("opnetype");
  font-style: normal;
  font-weight: 600;

}